<!-- <head>
    <meta charset="utf-8">
    <title>ChickPicFrontend</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <p>HI</p>
    <google-map [options]="options" height="400px" width="100%">
    </google-map>
  </body> -->

  
<div class="flex flex-col justify-center items-center text-center">
  <div class="mt-[5%] mx-[10%]">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Chick Pic</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tempus tortor, ac luctus felis. Quisque ornare ipsum eget dolor porttitor, quis cursus ipsum tincidunt.</p>
  </div>
  <button class="btn-primary" (click)="addImageHandler()"> Add Image </button>
  <div class="relative top-4 h-60 w-[90%]">
    <div class="absolute top-0 inset-x-0">
      <google-map [options]="options" width="100%">
      </google-map>
    </div>
  </div>
</div>
@if(openForm){
  <div class="overlay-container">
    <div class="absolute mx-[10%] my-[8%] inset-x-0 p-4 inset-y-0 animate-fadeInUp bg-white rounded-lg text-center">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Upload Chicken Image</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tempus tortor, ac luctus felis.</p>

      <div class="grid grid-cols-1 gap-4 m-8">
        <div class="place-self-start">Image Name</div>
        <input type="text" id="fname" name="fname" class="space-x-1 border-2 mr-[2%]">
        <div class="place-self-start">Image Description</div>
        <textarea class="space-x-1 border-2 mr-[2%]"></textarea>
      </div>
      <button class="btn-primary" (click)="addImageHandler()"> Cancel </button>
      <button class="btn-primary" (click)="addImageHandler()"> Submit </button>
    </div>
  </div>
      
<!--       
      <form action="/action_page.php" method="get" id="nameform">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" class="space-x-1 border-2"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" class="border-2">
      </form> -->
      
    <!-- <div class="relative left-[50%] top-[50%] bg-indigo-500"> -->
      <!-- <form class=" p-10 bg-white opacity-100">Hello</form> -->
    <!-- </div> -->
  <!-- </div> -->
}
  
<!-- <div class="relative isolate mt-[10%] mx-[10%] bg-indigo-500">
    <div class="absolute text-center inset-x-0 top-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Chick Pic</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non tempus tortor, ac luctus felis. Quisque ornare ipsum eget dolor porttitor, quis cursus ipsum tincidunt.</p>
        <div class="flex justify-center items-center h-40" style="background-color: aqua;">
            <div class="" style="background-color: blueviolet;">
              Arba
              <google-map [options]="options">
              </google-map>
            </div>
        </div> 
    </div>
    <div class="relative">
      <google-map [options]="options">
      </google-map>
    </div>
</div> -->


<!-- <div class="flex justify-center" style="background-color: aqua;">
  <div style="background-color: azure;">
    <h1 class="text-4xl font-bold tracking-wide text-gray-900 sm:text-6xl">Chick Pic</h1>
  </div>
</div> -->

<!-- <div style="display: flex; background-color: aqua;justify-content: center;height: 400px ;">
  <div style="background-color: antiquewhite;width: 200px;min-height: 100px;">flexbot item1</div> -->
  <!-- <div style="background-color: antiquewhite;width: 200px;min-height: 100px;">flexbot item2</div>
  <div style="background-color: antiquewhite;width: 200px;min-height: 100px;">flexbot item3</div> -->
<!-- </div> -->