<div class="border-2 rounded {{isInvalid? 'border-red-500': 'border-black' }}"> 
    <ng-autocomplete
      [data]="data"
      [searchKeyword]="keyword"
      placeholder="Select location"
      (selected)="onSelectOption($event)"
      historyIdentifier="countries"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    ></ng-autocomplete>
  </div>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.value"></a>
  </ng-template>
  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>

